<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      |
      <a href="/games">All Games</a>
      |
      <a href="/games/new">Add Game</a>
    </nav>
  </body>
</html>
