<%- include('./partials/header') %>
<h1><%= title %></h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum id aperiam
  dolores, nulla hic cumque velit, voluptate deserunt, facilis laudantium optio!
  Ipsam minima, vero ut harum repudiandae illum aspernatur eaque? Lorem ipsum
  dolor, sit amet consectetur adipisicing elit. Accusantium, error rerum ipsam
  repellat similique alias. Vitae sit voluptatibus in fuga delectus natus
  laborum provident repellendus enim dolorum, possimus cumque. Modi.
</p>
<%- include('./partials/footer') %>
