<%- include('../partials/header') %>
<h3>Game 1</h3>
<section>
  <%= games.name %> <br />
  Hours Played:<%= games.hoursPlayed %> hrs
</section>
<h3>Game 2</h3>
<h3>Game 3</h3>
<%- include('../partials/footer') %>
